@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.primary-navigation ul {
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em 2em;
  justify-content: center;
  list-style: none;
}
.primary-navigation ul li a {
  text-decoration: none;
  transition: border 250ms ease;
  border-bottom: 0.125em solid currentColor;
}
.primary-navigation ul li a:hover {
  border-width: 0.25em;
}
.primary-navigation ul li.primary-navigation-nav-active a {
  border-width: 0.375em;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter;
  font-size: 1em;
  line-height: 1.6;
  max-width: 80em;
  padding-inline: 1em;
  margin-inline: auto;
}

h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

.flex {
  display: grid;
}

.flex {
  display: flex;
}

.border-style-solid {
  border-style: solid;
}

:root {
  --background-primary: #efeff4;
  --background-alt: #ffffff;
  --background-darken: #b2b2b6;
  --background-soft: #efeff4;
  --background-mute: #f0f0f0;
  --background-light: #e8f0fe;
  --background-lighten: #d7deea;
  --text-primary: hsl(0deg, 0%, 0%);
  --text-body: hsla(0deg, 0%, 0%, 0.7);
  --dark-background-primary: #22252B;
  --dark-background-alt: #1B1D22;
  --dark-background-darken: #131a31;
  --dark-background-soft: #292C33;
  --dark-background-mute: #343841;
  --dark-background-light: #5c6273;
  --dark-background-lighten: #858da6;
  --accent-primary: #8eb6f8;
  --accent-primary-dark: #0d5bdc;
  --accent-primary-light: #b3cefb;
  --accent-secondary: #f8cbad;
  --accent-secondary-light: #fadbc6;
  --link-primary: #0096ff;
  --link-hover: #0066FF;
  --page-home: #ff6161;
  --page-about: #6171ff;
  --page-contact: #8800ff;
  --page-color: var(--color);
  --size-100: 0.25em;
  --size-200: 0.5em;
  --size-300: 0.75em;
  --size-400: 1em;
  --size-500: 1.25em;
  --size-600: 1.5em;
  --size-700: 1.75em;
  --size-800: 2em;
  --size-900: 2.25em;
  --font-family-body: Inter;
}

.background-background-primary {
  background: var(--background-primary);
}

.color-background-primary {
  color: var(--background-primary);
}

.color-background-primary a {
  color: var(--background-primary);
}

.border-color-background-primary {
  border-color: var(--background-primary);
}

.background-background-alt {
  background: var(--background-alt);
}

.color-background-alt {
  color: var(--background-alt);
}

.color-background-alt a {
  color: var(--background-alt);
}

.border-color-background-alt {
  border-color: var(--background-alt);
}

.background-background-darken {
  background: var(--background-darken);
}

.color-background-darken {
  color: var(--background-darken);
}

.color-background-darken a {
  color: var(--background-darken);
}

.border-color-background-darken {
  border-color: var(--background-darken);
}

.background-background-soft {
  background: var(--background-soft);
}

.color-background-soft {
  color: var(--background-soft);
}

.color-background-soft a {
  color: var(--background-soft);
}

.border-color-background-soft {
  border-color: var(--background-soft);
}

.background-background-mute {
  background: var(--background-mute);
}

.color-background-mute {
  color: var(--background-mute);
}

.color-background-mute a {
  color: var(--background-mute);
}

.border-color-background-mute {
  border-color: var(--background-mute);
}

.background-background-light {
  background: var(--background-light);
}

.color-background-light {
  color: var(--background-light);
}

.color-background-light a {
  color: var(--background-light);
}

.border-color-background-light {
  border-color: var(--background-light);
}

.background-background-lighten {
  background: var(--background-lighten);
}

.color-background-lighten {
  color: var(--background-lighten);
}

.color-background-lighten a {
  color: var(--background-lighten);
}

.border-color-background-lighten {
  border-color: var(--background-lighten);
}

.background-text-primary {
  background: var(--text-primary);
}

.color-text-primary {
  color: var(--text-primary);
}

.color-text-primary a {
  color: var(--text-primary);
}

.border-color-text-primary {
  border-color: var(--text-primary);
}

.background-text-body {
  background: var(--text-body);
}

.color-text-body {
  color: var(--text-body);
}

.color-text-body a {
  color: var(--text-body);
}

.border-color-text-body {
  border-color: var(--text-body);
}

.background-dark-background-primary {
  background: var(--dark-background-primary);
}

.color-dark-background-primary {
  color: var(--dark-background-primary);
}

.color-dark-background-primary a {
  color: var(--dark-background-primary);
}

.border-color-dark-background-primary {
  border-color: var(--dark-background-primary);
}

.background-dark-background-alt {
  background: var(--dark-background-alt);
}

.color-dark-background-alt {
  color: var(--dark-background-alt);
}

.color-dark-background-alt a {
  color: var(--dark-background-alt);
}

.border-color-dark-background-alt {
  border-color: var(--dark-background-alt);
}

.background-dark-background-darken {
  background: var(--dark-background-darken);
}

.color-dark-background-darken {
  color: var(--dark-background-darken);
}

.color-dark-background-darken a {
  color: var(--dark-background-darken);
}

.border-color-dark-background-darken {
  border-color: var(--dark-background-darken);
}

.background-dark-background-soft {
  background: var(--dark-background-soft);
}

.color-dark-background-soft {
  color: var(--dark-background-soft);
}

.color-dark-background-soft a {
  color: var(--dark-background-soft);
}

.border-color-dark-background-soft {
  border-color: var(--dark-background-soft);
}

.background-dark-background-mute {
  background: var(--dark-background-mute);
}

.color-dark-background-mute {
  color: var(--dark-background-mute);
}

.color-dark-background-mute a {
  color: var(--dark-background-mute);
}

.border-color-dark-background-mute {
  border-color: var(--dark-background-mute);
}

.background-dark-background-light {
  background: var(--dark-background-light);
}

.color-dark-background-light {
  color: var(--dark-background-light);
}

.color-dark-background-light a {
  color: var(--dark-background-light);
}

.border-color-dark-background-light {
  border-color: var(--dark-background-light);
}

.background-dark-background-lighten {
  background: var(--dark-background-lighten);
}

.color-dark-background-lighten {
  color: var(--dark-background-lighten);
}

.color-dark-background-lighten a {
  color: var(--dark-background-lighten);
}

.border-color-dark-background-lighten {
  border-color: var(--dark-background-lighten);
}

.background-accent-primary {
  background: var(--accent-primary);
}

.color-accent-primary {
  color: var(--accent-primary);
}

.color-accent-primary a {
  color: var(--accent-primary);
}

.border-color-accent-primary {
  border-color: var(--accent-primary);
}

.background-accent-primary-dark {
  background: var(--accent-primary-dark);
}

.color-accent-primary-dark {
  color: var(--accent-primary-dark);
}

.color-accent-primary-dark a {
  color: var(--accent-primary-dark);
}

.border-color-accent-primary-dark {
  border-color: var(--accent-primary-dark);
}

.background-accent-primary-light {
  background: var(--accent-primary-light);
}

.color-accent-primary-light {
  color: var(--accent-primary-light);
}

.color-accent-primary-light a {
  color: var(--accent-primary-light);
}

.border-color-accent-primary-light {
  border-color: var(--accent-primary-light);
}

.background-accent-secondary {
  background: var(--accent-secondary);
}

.color-accent-secondary {
  color: var(--accent-secondary);
}

.color-accent-secondary a {
  color: var(--accent-secondary);
}

.border-color-accent-secondary {
  border-color: var(--accent-secondary);
}

.background-accent-secondary-light {
  background: var(--accent-secondary-light);
}

.color-accent-secondary-light {
  color: var(--accent-secondary-light);
}

.color-accent-secondary-light a {
  color: var(--accent-secondary-light);
}

.border-color-accent-secondary-light {
  border-color: var(--accent-secondary-light);
}

.background-link-primary {
  background: var(--link-primary);
}

.color-link-primary {
  color: var(--link-primary);
}

.color-link-primary a {
  color: var(--link-primary);
}

.border-color-link-primary {
  border-color: var(--link-primary);
}

.background-link-hover {
  background: var(--link-hover);
}

.color-link-hover {
  color: var(--link-hover);
}

.color-link-hover a {
  color: var(--link-hover);
}

.border-color-link-hover {
  border-color: var(--link-hover);
}

.background-page-home {
  background: var(--page-home);
}

.color-page-home {
  color: var(--page-home);
}

.color-page-home a {
  color: var(--page-home);
}

.border-color-page-home {
  border-color: var(--page-home);
}

.background-page-about {
  background: var(--page-about);
}

.color-page-about {
  color: var(--page-about);
}

.color-page-about a {
  color: var(--page-about);
}

.border-color-page-about {
  border-color: var(--page-about);
}

.background-page-contact {
  background: var(--page-contact);
}

.color-page-contact {
  color: var(--page-contact);
}

.color-page-contact a {
  color: var(--page-contact);
}

.border-color-page-contact {
  border-color: var(--page-contact);
}

.background-page-color {
  background: var(--page-color);
}

.color-page-color {
  color: var(--page-color);
}

.color-page-color a {
  color: var(--page-color);
}

.border-color-page-color {
  border-color: var(--page-color);
}

.width-100 {
  width: var(--size-100);
}

.max-width-100 {
  max-width: var(--size-100);
}

.min-width-100 {
  min-width: var(--size-100);
}

.height-100 {
  height: var(--size-100);
}

.max-height-100 {
  max-height: var(--size-100);
}

.min-height-100 {
  min-height: var(--size-100);
}

.padding-100 {
  padding: var(--size-100);
}

.padding-inline-100 {
  padding-inline: var(--size-100);
}

.padding-inline-start-100 {
  padding-inline-start: var(--size-100);
}

.padding-inline-end-100 {
  padding-inline-end: var(--size-100);
}

.padding-block-100 {
  padding-block: var(--size-100);
}

.padding-block-start-100 {
  padding-block-start: var(--size-100);
}

.padding-block-end-100 {
  padding-block-end: var(--size-100);
}

.margin-100 {
  margin: var(--size-100);
}

.margin-inline-100 {
  margin-inline: var(--size-100);
}

.margin-block-100 {
  margin-block: var(--size-100);
}

.border-width-100 {
  border-width: var(--size-100);
}

.width-200 {
  width: var(--size-200);
}

.max-width-200 {
  max-width: var(--size-200);
}

.min-width-200 {
  min-width: var(--size-200);
}

.height-200 {
  height: var(--size-200);
}

.max-height-200 {
  max-height: var(--size-200);
}

.min-height-200 {
  min-height: var(--size-200);
}

.padding-200 {
  padding: var(--size-200);
}

.padding-inline-200 {
  padding-inline: var(--size-200);
}

.padding-inline-start-200 {
  padding-inline-start: var(--size-200);
}

.padding-inline-end-200 {
  padding-inline-end: var(--size-200);
}

.padding-block-200 {
  padding-block: var(--size-200);
}

.padding-block-start-200 {
  padding-block-start: var(--size-200);
}

.padding-block-end-200 {
  padding-block-end: var(--size-200);
}

.margin-200 {
  margin: var(--size-200);
}

.margin-inline-200 {
  margin-inline: var(--size-200);
}

.margin-block-200 {
  margin-block: var(--size-200);
}

.border-width-200 {
  border-width: var(--size-200);
}

.width-300 {
  width: var(--size-300);
}

.max-width-300 {
  max-width: var(--size-300);
}

.min-width-300 {
  min-width: var(--size-300);
}

.height-300 {
  height: var(--size-300);
}

.max-height-300 {
  max-height: var(--size-300);
}

.min-height-300 {
  min-height: var(--size-300);
}

.padding-300 {
  padding: var(--size-300);
}

.padding-inline-300 {
  padding-inline: var(--size-300);
}

.padding-inline-start-300 {
  padding-inline-start: var(--size-300);
}

.padding-inline-end-300 {
  padding-inline-end: var(--size-300);
}

.padding-block-300 {
  padding-block: var(--size-300);
}

.padding-block-start-300 {
  padding-block-start: var(--size-300);
}

.padding-block-end-300 {
  padding-block-end: var(--size-300);
}

.margin-300 {
  margin: var(--size-300);
}

.margin-inline-300 {
  margin-inline: var(--size-300);
}

.margin-block-300 {
  margin-block: var(--size-300);
}

.border-width-300 {
  border-width: var(--size-300);
}

.width-400 {
  width: var(--size-400);
}

.max-width-400 {
  max-width: var(--size-400);
}

.min-width-400 {
  min-width: var(--size-400);
}

.height-400 {
  height: var(--size-400);
}

.max-height-400 {
  max-height: var(--size-400);
}

.min-height-400 {
  min-height: var(--size-400);
}

.padding-400 {
  padding: var(--size-400);
}

.padding-inline-400 {
  padding-inline: var(--size-400);
}

.padding-inline-start-400 {
  padding-inline-start: var(--size-400);
}

.padding-inline-end-400 {
  padding-inline-end: var(--size-400);
}

.padding-block-400 {
  padding-block: var(--size-400);
}

.padding-block-start-400 {
  padding-block-start: var(--size-400);
}

.padding-block-end-400 {
  padding-block-end: var(--size-400);
}

.margin-400 {
  margin: var(--size-400);
}

.margin-inline-400 {
  margin-inline: var(--size-400);
}

.margin-block-400 {
  margin-block: var(--size-400);
}

.border-width-400 {
  border-width: var(--size-400);
}

.width-500 {
  width: var(--size-500);
}

.max-width-500 {
  max-width: var(--size-500);
}

.min-width-500 {
  min-width: var(--size-500);
}

.height-500 {
  height: var(--size-500);
}

.max-height-500 {
  max-height: var(--size-500);
}

.min-height-500 {
  min-height: var(--size-500);
}

.padding-500 {
  padding: var(--size-500);
}

.padding-inline-500 {
  padding-inline: var(--size-500);
}

.padding-inline-start-500 {
  padding-inline-start: var(--size-500);
}

.padding-inline-end-500 {
  padding-inline-end: var(--size-500);
}

.padding-block-500 {
  padding-block: var(--size-500);
}

.padding-block-start-500 {
  padding-block-start: var(--size-500);
}

.padding-block-end-500 {
  padding-block-end: var(--size-500);
}

.margin-500 {
  margin: var(--size-500);
}

.margin-inline-500 {
  margin-inline: var(--size-500);
}

.margin-block-500 {
  margin-block: var(--size-500);
}

.border-width-500 {
  border-width: var(--size-500);
}

.width-600 {
  width: var(--size-600);
}

.max-width-600 {
  max-width: var(--size-600);
}

.min-width-600 {
  min-width: var(--size-600);
}

.height-600 {
  height: var(--size-600);
}

.max-height-600 {
  max-height: var(--size-600);
}

.min-height-600 {
  min-height: var(--size-600);
}

.padding-600 {
  padding: var(--size-600);
}

.padding-inline-600 {
  padding-inline: var(--size-600);
}

.padding-inline-start-600 {
  padding-inline-start: var(--size-600);
}

.padding-inline-end-600 {
  padding-inline-end: var(--size-600);
}

.padding-block-600 {
  padding-block: var(--size-600);
}

.padding-block-start-600 {
  padding-block-start: var(--size-600);
}

.padding-block-end-600 {
  padding-block-end: var(--size-600);
}

.margin-600 {
  margin: var(--size-600);
}

.margin-inline-600 {
  margin-inline: var(--size-600);
}

.margin-block-600 {
  margin-block: var(--size-600);
}

.border-width-600 {
  border-width: var(--size-600);
}

.width-700 {
  width: var(--size-700);
}

.max-width-700 {
  max-width: var(--size-700);
}

.min-width-700 {
  min-width: var(--size-700);
}

.height-700 {
  height: var(--size-700);
}

.max-height-700 {
  max-height: var(--size-700);
}

.min-height-700 {
  min-height: var(--size-700);
}

.padding-700 {
  padding: var(--size-700);
}

.padding-inline-700 {
  padding-inline: var(--size-700);
}

.padding-inline-start-700 {
  padding-inline-start: var(--size-700);
}

.padding-inline-end-700 {
  padding-inline-end: var(--size-700);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-start-700 {
  padding-block-start: var(--size-700);
}

.padding-block-end-700 {
  padding-block-end: var(--size-700);
}

.margin-700 {
  margin: var(--size-700);
}

.margin-inline-700 {
  margin-inline: var(--size-700);
}

.margin-block-700 {
  margin-block: var(--size-700);
}

.border-width-700 {
  border-width: var(--size-700);
}

.width-800 {
  width: var(--size-800);
}

.max-width-800 {
  max-width: var(--size-800);
}

.min-width-800 {
  min-width: var(--size-800);
}

.height-800 {
  height: var(--size-800);
}

.max-height-800 {
  max-height: var(--size-800);
}

.min-height-800 {
  min-height: var(--size-800);
}

.padding-800 {
  padding: var(--size-800);
}

.padding-inline-800 {
  padding-inline: var(--size-800);
}

.padding-inline-start-800 {
  padding-inline-start: var(--size-800);
}

.padding-inline-end-800 {
  padding-inline-end: var(--size-800);
}

.padding-block-800 {
  padding-block: var(--size-800);
}

.padding-block-start-800 {
  padding-block-start: var(--size-800);
}

.padding-block-end-800 {
  padding-block-end: var(--size-800);
}

.margin-800 {
  margin: var(--size-800);
}

.margin-inline-800 {
  margin-inline: var(--size-800);
}

.margin-block-800 {
  margin-block: var(--size-800);
}

.border-width-800 {
  border-width: var(--size-800);
}

.width-900 {
  width: var(--size-900);
}

.max-width-900 {
  max-width: var(--size-900);
}

.min-width-900 {
  min-width: var(--size-900);
}

.height-900 {
  height: var(--size-900);
}

.max-height-900 {
  max-height: var(--size-900);
}

.min-height-900 {
  min-height: var(--size-900);
}

.padding-900 {
  padding: var(--size-900);
}

.padding-inline-900 {
  padding-inline: var(--size-900);
}

.padding-inline-start-900 {
  padding-inline-start: var(--size-900);
}

.padding-inline-end-900 {
  padding-inline-end: var(--size-900);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-block-start-900 {
  padding-block-start: var(--size-900);
}

.padding-block-end-900 {
  padding-block-end: var(--size-900);
}

.margin-900 {
  margin: var(--size-900);
}

.margin-inline-900 {
  margin-inline: var(--size-900);
}

.margin-block-900 {
  margin-block: var(--size-900);
}

.border-width-900 {
  border-width: var(--size-900);
}

.font-family-body {
  font-family: var(--font-family-body);
}

:not([class]) > a {
  color: var(--color);
  transition: color 250ms ease;
}
:not([class]) > a:hover {
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
